<nav class="navbar sticky-top navbar-expand-lg navbar-dark fond-navbar">
  <div class="container">
    <a class="navbar-brand"><img src="../assets/images/Logo.png" alt="" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="pe-4">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/employe/home"
            >Home</a
          >
        </li>
        <li class="pe-4">
          <a class="nav-link" routerLink="/employe/profil">Profil</a>
        </li>
        <li class="pe-4">
          <a class="nav-link" routerLink="/employe/dashboard">Dashboard</a>
        </li>
        <li>
          <a class="btn btn-navbar" routerLink="/login-employe">LOG-OUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="banner-5">
  <div class="container">
    <hr />
    <div class="row">
      <ul class="nav flex-column col-md-3">
        <h1 class="h-5">OUR SERVICES</h1>
        <br />
        <li class="mb-2">Skin Care</li>
        <li class="mb-2">Hair</li>
        <li class="mb-2">Nail care</li>
        <li class="mb-2">Massage</li>
      </ul>
      <ul class="nav flex-column col-md-3">
        <h1 class="h-5">NAVIGATION LINKS</h1>
        <br />
        <li class="mb-2" routerLink="">Home</li>
        <li class="mb-2" routerLink="">Services</li>
        <li class="mb-2" routerLink="">Appointment</li>
        <li class="mb-2" routerLink="">SIGN UP / SIGN IN</li>
      </ul>
      <ul class="nav flex-column col-md-3">
        <h1 class="h-5">CONTACT US</h1>
        <br />
        <li class="mb-2">Adress: ANTANANARIVO</li>
        <li class="mb-2">Phone: +261 34 19 355 38</li>
        <li class="mb-2">Email: salon&#64;gmail.com</li>
      </ul>
      <ul class="nav flex-column col-md-3">
        <h1 class="h-5">NEWSLETTER</h1>
        <br />
        <li>Any questions? Let us know by subscribing</li>
        <button class="btn btn-navbar1">SUBSCRIBE</button>
      </ul>
    </div>
  </div>
  <div class="container container-center">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <img src="../assets/images/icon-pay-01.png" class="image-footer" />
          <img src="../assets/images/icon-pay-02.png" class="image-footer" />
          <img src="../assets/images/icon-pay-03.png" class="image-footer" />
          <img src="../assets/images/icon-pay-04.png" class="image-footer" />
          <img src="../assets/images/icon-pay-05.png" class="image-footer" />
          <p>
            Copyright © 2024 All rights reserved
            <span>
              ANDRIANONY NANTENAINA ANDRIANINA - RABEMIARINTSOA CHRISTY JEDIDIAH
            </span>
            | This template is designed by <span>OFJ</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
