
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <form action="" method="POST">
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary form-control" routerLink="/">CLIENT</button>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-secondary form-control" routerLink="/">EMPLOYED</button>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-secondary form-control" routerLink="/">MANAGER</button>
                </div>
            </form>
        </div>
    </div>
</div>