<div class="centered-container">
    <div class="form-container">
    <form [formGroup]="servicesForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <label for="name" class="form-label">Service name</label>
            <input type="text" formControlName="name" class="form-control" id="name">
            <div *ngIf="servicesForm.get('f')?.errors?.['required'] && servicesForm.get('name')?.touched">service is required</div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="tel" formControlName="price" class="form-control" id="price">
        <div *ngIf="servicesForm.get('price')?.errors?.['required'] && servicesForm.get('price')?.touched">Price</div>
      </div>
  

      <div class="mb-3">
        <label for="duration" class="form-label">Duration</label>
        <input type="tel" formControlName="duration" class="form-control" id="duration">
        <div *ngIf="servicesForm.get('duration')?.errors?.['required'] && servicesForm.get('duration')?.touched">Choose hour</div>
      </div>
  
  
     

      <button type="submit" [disabled]="servicesForm.invalid" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
  