<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <form action="" method="POST">
                <div class="mt-3">
                    <label for="Services">Service name: </label>
                    <input type="text" name="Services" id="Services" class="form-control">
                </div>
                <div class="mt-3">
                    <label for="date">Date: </label>
                    <input type="date" required name="date" class="form-control" id="date">
                </div>
                <div class="mt-3">
                    <label for="AppointmentTime">AppointmentTime: </label>
                    <input type="AppointmentTime" name="AppointmentTime" id="AppointmentTime" class="form-control">
                </div>
                <div class="mt-3">
                    <label for="employe">Employe Confirmation:</label>
                    <input type="text" name="employe" id="employe" class="form-control">
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary form-control">Book Appointment</button>
                </div>
            </form>
        </div>
    </div>
  </div>