<!-- <app-client-navbar></app-client-navbar> -->
<section class="banner-first">
  <div class="container">
    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-lg-4">
        <h1 class="text-main">YOUR BEAUTY,</h1>
        <h1>OUR PRIORITY</h1>
        <button class="btn btn-navbar1" routerLink="admin/Appointment">
          BOOK APPOINTEMENT
        </button>
      </div>
    </div>
  </div>
</section>
<section class="banner-second">
  <div>
    <h1 class="text-center text-title">WELCOME TO: <span>BEAUTY'FULL</span></h1>
    <p class="text-center p2">
      Improve your body by taking care of it. Beauty'full is one of the best
      place where you can show your beauty <br />
      through its many services for taking care of appearance
    </p>
  </div>
</section>
<!-- <h1>MAnde ny home</h1> -->
